.dark-blue{
    background: rgba(92,149,255,1);
background: -moz-linear-gradient(left, rgba(92,149,255,1) 0%, rgba(1,84,239,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(92,149,255,1)), color-stop(100%, rgba(1,84,239,1)));
background: -webkit-linear-gradient(left, rgba(92,149,255,1) 0%, rgba(1,84,239,1) 100%);
background: -o-linear-gradient(left, rgba(92,149,255,1) 0%, rgba(1,84,239,1) 100%);
background: -ms-linear-gradient(left, rgba(92,149,255,1) 0%, rgba(1,84,239,1) 100%);
background: linear-gradient(to right, rgba(92,149,255,1) 0%, rgba(1,84,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c95ff', endColorstr='#0154ef', GradientType=1 );

}

.your-class{
    height: 32px;
}

.pattern{
background-image: url("images/random-grey-variations.png");
background-repeat: repeat;
}

.pattern2{
background-image: url("images/black-thread-light.png");
background-repeat: repeat;
}

.mcenter{
    display:block;
    margin:auto;
    float: left;
}


#exp-img{
    height:50px;
    weight:50px;
}
.exp-img-small{
    height:30px;
    weight:30px;
}

.exp-img-big{
    height:60px;
    weight:60px;
}

// Mixin itself
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Usage as a mixin
.element {
  @include clearfix;
}


